<h1>Flight-Booker</h1>

<%= form_with url: flights_path, method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, "Departure Airport:" %>
    <%= form.select :departure_airport, @airports.map { |airport| [airport.code, airport.id] }, { selected: params[:departure_airport] } %>
  </div>
  <div>
    <%= form.label :arrival_airport, "Arrival Airport:" %>
    <%= form.select :arrival_airport, @airports.map { |airport| [airport.code, airport.id] }, { selected: params[:arrival_airport] } %>
  </div>
  <div>
    <%= form.label :flight_date, "Flight Date:" %>
    <%= form.select :flight_date, @flight_dates.map { |flight| [flight.start_datetime.strftime('%m/%d/%Y'), flight.start_datetime]}, { selected: params[:flight_date] } %>
  </div>
  <div>
    <%= form.label :passenger_count, "Passengers Count:" %>
    <%= form.select :passenger_count, (1..4).to_a, { selected: params[:passenger_count] } %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<% if @flights.any? %>
  <h2>Search Results:</h2>
  <%= form_with method: :get do |form| %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Departure Airport</th>
          <th>Arrival Airport</th>
          <th>Flight Date</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @flights.each do |flight| %>
          <tr>
            <td><%= form.radio_button :selected_flight, flight.id %></td>
            <td><%= flight.departure_airport.code %></td>
            <td><%= flight.arrival_airport.code %></td>
            <td><%= flight.start_datetime.strftime('%A, %b %d, %Y %I:%M %p') %></td>
            <td><%= format_duration(flight.duration) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>
    <%= form.submit "Select Flight" %>
  <% end %>
<% else %>
  <p>No flights found for your search criteria.</p>
<% end %>
